/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background-color: #EFEFEF;

}

h1 {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 44px;
  font-weight: 800;
  color: white;
  padding-bottom: 30px;

}

h2 {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #033048;
  /*padding-bottom: 5px;*/
  padding-top: 20px;
}

h4 {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

h5 {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-top: 60px;
}

p {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #606161;
  padding-bottom: 10px;
}

li {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #606161;
  line-height: 1.5em;

}

a {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 25px;
  font-weight: 800;
  background: #f9e42e;
  border-radius: 5px;
  color: black;
  padding: 10px 50px;
  text-decoration: none;
}

.twitter {
  padding-right: 40px;
  margin: auto;
}

.facebook {
  padding-right: 10px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  /*width: 100%;
  margin: auto;
  height: 500px;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;*/

}

/*<!--  header//////////////////////////////////////////////////////// -->*/
header {
  width: 100%;
  margin: auto;
  height: 700px;
  background-color: #033048;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;

}

.nav-header {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.content {
  width: 60%;
  margin: auto;
  text-align: center;
}


.main {
  width: 100%;
  margin: auto;
  height: 600px;
}

/*<!-- benefits section//////////////////////////////////////////////// -->*/

section {
  width: 60%;
  margin: auto;
  height: 600px;
}

.benefits {
  width: 60%;
  padding-top: 50px;
  
}


/*<!-- blockquote//////////////////////////////////////////////////////// -->*/
.blockquote {
  width: 100%;
  margin: auto;
  height: 400px;
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

.quote {
  width: 60%;
  /*border: 5px solid rgb(231, 224, 55);*/
  margin: auto;
  font-family: 'Open Sans' sans-serif;
  font-size: 28px;
  color: white;
  font-weight: 300italic;
  font-style: italic;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 0;
}


/*<!-- call to action///////////////////////////////////////////////////////// -->*/
.call-to-action {
  width: 100%;
  margin: auto;
  height: 100px;
  padding-top: 30px;
  text-align: center;
  background-color: #f9e42e;
}

.button {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 25px;
  font-weight: 800;
  background: #033048;
  border-radius: 5px;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
}

/*<!-- foooter//////////////////////////////////////////////////////// -->*/
footer {
  width: 100%;
  margin: auto;
  height: 345px;
  text-align: center;
  background-color: #2E2E2E;
}

.footer-h1 {
  font-family: 'Opens Sans' , sans-serif;
  font-size: 44px;
  font-weight: 800;
  color: #f9e42e;
  margin: auto;
  padding-top: 60px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
