<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout 2</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

    <header class="logo">
        <div class="container"> header</div>
    </header>

    <nav class="main-nav">
      <div class="container2">nav items</div></nav>
    <nav class="main-nav"><div class="container2">nav items</div></nav>
    <nav class="main-nav"> <div class="container2">nav items</div></nav>
    <nav class="main-nav"> <div class="container2">nav items</div></nav>



    <section class="main-content3">
        <div class="container">main</div>
    </section>

    <nav class="sidebar-two">
        <div class="container">nav sidebar</div>
    </nav>

    <nav class="sidebar-two2">
        <div class="container">nav sidebar</div>
    </nav>

    <nav class="sidebar-two2">
        <div class="container">nav sidebar</div>
    </nav>

    <footer>
        <div class="container">footer</div>
    </footer>
