<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout 2</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

    <header>
        <div class="container"> header</div>
    </header>

    <nav class="sidebar">
        <div class="container">nav sidebar</div>
    </nav>

    <section class="main">
        <div class="container">main</div>
    </section>

    <nav class="sidebar">
        <div class="container">nav sidebar</div>
    </nav>

    <footer>
        <div class="container">footer</div>
    </footer>

</body>
</html>
